.contain {
  width: 100%;
  height: 16.21875rem;
}
.contain .baodanguanli {
  width: 100%;
  height: 100%;
  background-color: #e4e4e4 ;
}
.contain .baodanguanli .slider img {
  width: 100%;
  height: 2.1875rem;
}
.contain .baodanguanli h3 {
  width: 100%;
  height: 0.75rem;
  line-height: 0.75rem;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin-top: 0.625rem;
}
.contain .baodanguanli .baodanxinxi {
  width: 100%;
  height: 11.25rem;
  background-color: white;
}
.item {
  width: 100%;
  height: 1.53125rem;
  margin-bottom: 0;
  background-color: #e4e4e4;
}
.item .div {
  width: 20%;
  height: 1.125rem;
  margin: 0.21875rem 0 0;
  float: left;
  text-align: center;
  line-height: 1.125rem;
  background-color: #f2f2f2;
  border: #c8c8c8 1px solid;
  border-left: none;
}
.item .div:first-of-type {
  border-left: #c8c8c8 1px solid;
}
