.contain{
	width:100%;
  height:519/32rem;
}
.contain .slider img{
  width:100%;
  height:70/32rem;
}
.contain .shaomiao{
  width:100%;
  height:110/32rem;
  background-color: #e4e4e4;
}
.contain .shaomiao .shaomiaozhongzhi{
  width:100%;
  height:32/32rem;
  border-radius: 3px;
  background-color: #169bd5;
  outline: none;
  border:none;
  margin-top:8/32rem;
  color: white;
}
.contain .shaomiao .nongbaozhonglei{
  width:146/32rem;
  height:32/32rem;
  outline:none;
  margin-top: 18/32rem;
  margin-left:18/32rem;
  float: left;
}
.contain .shaomiao .nongbaotuijian{
  width:122/32rem;
  height:32/32rem;
  border-radius: 3px;
  background-color: #169bd5;
  outline: none;
  border:none;
  margin-top:18/32rem;
  margin-left:18/32rem;
  color: white;
  float: left;
}
.contain .tuijiantaocan h3{
  width:100% ;
  height:18/32rem;
  color:#7b7b7b;
  text-indent:14/32rem;
  font-size: 12px;
  line-height: 18/32rem;
  background: url("../images/taocanbar.jpg") no-repeat 5/32rem center;
  margin-top:12/32rem;
}
.contain .tuijiantaocan h3 a{
  display: block;
  float: right;
  font-size:12px;
  color: #7b7b7b;
  -webkit-transform: scale(0.83333333333333);
}
.contain .tuijiantaocan .taocan{
  width:294/32rem;
  height:84/32rem;
  margin:18/32rem auto 0;
}
.contain .tuijiantaocan .taocan img{
  width:130/32rem;
  height:84/32rem;
  float: left;
  margin-right:8/32rem;
}
.contain .tuijiantaocan .taocan h4{
  margin:0;
  font-weight: normal;
  height:32/32rem;
  line-height: 32/32rem;
}
.item{
	width:100%;
	height:49/32rem;
  margin-bottom: 0;
  background-color:#e4e4e4;
}
.item .div{
  width:20%;
  height:36/32rem;
  margin:7/32rem 0 0;
  float: left;
  text-align: center;
  line-height: 36/32rem;
  background-color: #f2f2f2;
  border:#c8c8c8 1px solid;
  border-left:none;
}
.item .div:first-of-type{
  border-left:#c8c8c8 1px solid;
}