.contain {
  width: 100%;
  height: 16.21875rem;
}
.contain .slider img {
  width: 100%;
  height: 2.1875rem;
}
.contain .shaomiao {
  width: 100%;
  height: 3.4375rem;
  background-color: #e4e4e4;
}
.contain .shaomiao .shaomiaozhongzhi {
  width: 100%;
  height: 1rem;
  border-radius: 3px;
  background-color: #169bd5;
  outline: none;
  border: none;
  margin-top: 0.25rem;
  color: white;
}
.contain .shaomiao .nongbaozhonglei {
  width: 4.5625rem;
  height: 1rem;
  outline: none;
  margin-top: 0.5625rem;
  margin-left: 0.5625rem;
  float: left;
}
.contain .shaomiao .nongbaotuijian {
  width: 3.8125rem;
  height: 1rem;
  border-radius: 3px;
  background-color: #169bd5;
  outline: none;
  border: none;
  margin-top: 0.5625rem;
  margin-left: 0.5625rem;
  color: white;
  float: left;
}
.contain .tuijiantaocan h3 {
  width: 100% ;
  height: 0.5625rem;
  color: #7b7b7b;
  text-indent: 0.4375rem;
  font-size: 12px;
  line-height: 0.5625rem;
  background: url("../images/taocanbar.jpg") no-repeat 0.15625rem center;
  margin-top: 0.375rem;
}
.contain .tuijiantaocan h3 a {
  display: block;
  float: right;
  font-size: 12px;
  color: #7b7b7b;
  -webkit-transform: scale(0.83333333);
}
.contain .tuijiantaocan .taocan {
  width: 9.1875rem;
  height: 2.625rem;
  margin: 0.5625rem auto 0;
}
.contain .tuijiantaocan .taocan img {
  width: 4.0625rem;
  height: 2.625rem;
  float: left;
  margin-right: 0.25rem;
}
.contain .tuijiantaocan .taocan h4 {
  margin: 0;
  font-weight: normal;
  height: 1rem;
  line-height: 1rem;
}
.item {
  width: 100%;
  height: 1.53125rem;
  margin-bottom: 0;
  background-color: #e4e4e4;
}
.item .div {
  width: 20%;
  height: 1.125rem;
  margin: 0.21875rem 0 0;
  float: left;
  text-align: center;
  line-height: 1.125rem;
  background-color: #f2f2f2;
  border: #c8c8c8 1px solid;
  border-left: none;
}
.item .div:first-of-type {
  border-left: #c8c8c8 1px solid;
}
