.contain{
	width:100%;
  height:519/32rem;
}
.contain .xinxiweihu{
  width:100%;
  height:100%;
  background-color:#e4e4e4 ;
}
.contain .xinxiweihu .slider img{
  width:100%;
  height:70/32rem;
}
.contain .xinxiweihu h3{
  width:100%;
  height:24/32rem;
  line-height: 24/32rem;
  font-size:14px;
  text-align: center;
  font-weight: normal;
  margin-top: 20/32rem;
}
.contain .xinxiweihu .kehuxinxi{
  width:100%;
  height:360/32rem;
  background-color: white;
}
.item{
	width:100%;
	height:49/32rem;
  margin-bottom: 0;
  background-color:#e4e4e4;
}
.item .div{
  width:20%;
  height:36/32rem;
  margin:7/32rem 0 0;
  float: left;
  text-align: center;
  line-height: 36/32rem;
  background-color: #f2f2f2;
  border:#c8c8c8 1px solid;
  border-left:none;
}
.item .div:first-of-type{
  border-left:#c8c8c8 1px solid;
}