.topbar {
  width: 100%;
  height: 1.3125rem;
  background-color: #f2f2f2;
}
.topbar span {
  display: block;
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}
.topbar span:nth-of-type(2) {
  width: 50%;
  text-align: center;
  line-height: 1.4375rem;
}
.topbar span button {
  width: 1.5625rem;
  height: 1rem;
  outline: none;
  border: 1px solid #9b9b9b;
  background-color: #ffffff;
  margin: 0.15625rem auto 0;
}
.mendianzhiliao {
  width: 100%;
  height: 15.3125rem;
  background-color: #e4e4e4;
  padding: 0.1px;
}
.mendianzhiliao .head {
  width: 100%;
  height: 2.6875rem;
  background-color: #ffffff;
  margin-top: 0.15625rem;
}
.mendianzhiliao .head .mingzhi {
  width: 7rem;
  height: 2.6875rem;
  text-indent: 0.875rem;
  line-height: 2.6875rem;
  font-size: 16px;
  float: left;
}
.mendianzhiliao .head .touxiang {
  width: 2.96875rem;
  height: 2.6875rem;
  font-size: 16px;
  float: left;
}
.mendianzhiliao .head .touxiang img {
  width: 2.1875rem;
  height: 2.1875rem;
  display: block;
  border-radius: 50%;
  margin: 0.25rem 0 0 0;
  border: 1px solid #848484;
}
.mendianzhiliao .xingxi {
  width: 100%;
  height: 6.40625rem;
  background-color: #ffffff;
  margin-top: 0.625rem;
}
.mendianzhiliao .xingxi p {
  width: 100%;
  height: 1.28125rem;
  line-height: 1.28125rem;
  border-bottom: 1px solid #e0e0e0;
}
.mendianzhiliao .xingxi p span {
  width: 3.4375rem;
  height: 1.28125rem;
  line-height: 1.28125rem;
  display: block;
  text-align: right;
  float: left;
  /*text-align: justify;*/
  text-align-last: justify;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.mendianzhiliao .xingxi p input {
  width: 5.9375rem;
  height: 1.25rem;
  float: left;
  border: none;
  outline: none;
}
.mendianzhiliao .xingxi p a {
  width: 0.59375rem;
  height: 1.28125rem;
  display: block;
  float: left;
}
.footer {
  width: 100%;
  height: 1.125rem;
  background-color: #169bd5;
  color: white;
  text-align: center;
  line-height: 1.125rem;
}
