.topbar{
  width:100%;
  height:42/32rem;
  background-color: #f2f2f2;
}
.topbar span{
  display: block;
  width:25%;
  height:100%;
  float: left;
  text-align: center;
}
.topbar span:nth-of-type(2){
  width:50%;
  text-align:center;
  line-height: 46/32rem;
}
.topbar span button{
  width:50/32rem;
  height:1rem;
  outline: none;
  border:1px solid #9b9b9b;
  background-color: #ffffff;
  margin:5/32rem auto 0;
}
.mendianzhiliao{
  width:100%;
  height:490/32rem;
  background-color: #e4e4e4;
  padding:0.1px;
}
.mendianzhiliao .head{
  width:100%;
  height:86/32rem;
  background-color: #ffffff;
  margin-top:5/32rem;
}
.mendianzhiliao .head .mingzhi{
  width:224/32rem;
  height:86/32rem;
  text-indent:28/32rem;
  line-height: 86/32rem;
  font-size: 16px;
  float: left;
}
.mendianzhiliao .head .touxiang{
  width:95/32rem;
  height:86/32rem;
  font-size: 16px;
  float: left;
}
.mendianzhiliao .head .touxiang img{
  width:70/32rem;
  height:70/32rem;
  display: block;
  border-radius: 50%;
  margin:8/32rem 0 0 0;
  border:1px solid #848484;
}
.mendianzhiliao .xingxi{
  width:100%;
  height:205/32rem;
  background-color: #ffffff;
  margin-top:20/32rem;
}
.mendianzhiliao .xingxi p{
  width:100%;
  height:41/32rem;
  line-height: 41/32rem;
  border-bottom:1px solid #e0e0e0;
}
.mendianzhiliao .xingxi p span{
  width:110/32rem;
  height:41/32rem;
  line-height: 41/32rem;
  display: block;
  text-align: right;
  float: left;
  /*text-align: justify;*/
  text-align-last: justify;
  padding-left:12/32rem;
  padding-right:12/32rem;
}
.mendianzhiliao .xingxi p input{
  width:190/32rem;
  height:40/32rem;
  float: left;
  border:none;
  outline:none;
}
.mendianzhiliao .xingxi p a{
  width:19/32rem;
  height:41/32rem;
  display: block;
  float: left;
}
.footer{
  width:100%;
  height:36/32rem;
  background-color: #169bd5;
  color: white;
  text-align: center;
  line-height: 36/32rem;
}