.contain{
	width:100%;
  height:519/32rem;
}
.mine_nav {
  width: 10rem;
  height: 7rem;
  background: #169bd5;
  position: relative;
  padding: 0.1px;
}
.mine_nav .vip {
  display: none;
  width: 1.48rem;
  height: 0.44rem;
  line-height: 0.44rem;
  position: fixed;
  right: 0;
  top: 2.45rem;
  border-radius: 3em 0 0 3em;
  background: rgba(0, 0, 0, 0.3);
}
.mine_nav .vip a {
  background: url(../images/vip_icon.png) 0.08rem center no-repeat;
  background-size: 0.35rem;
  padding-left: 0.5rem;
  display: block;
  font-size: 0.22rem;
  color: #fff;
}
.mine_nav .left {
  text-align: center;
  width: 0.8125rem;
  position: absolute;
  top: 0.4375rem;
  left: 0.53125rem;
}
.mine_nav .left dt {
  width: 0.8125rem;
  height: 0.8125rem;
  margin: 0 auto 0.15625rem;
}
.mine_nav .left dt a img {
  width: 0.8125rem;
  height: 0.8125rem;
}
.mine_nav .left dd {
  text-align: center;
  font-size: 0.34375rem;
  color: #424644;
  width: 0.8125rem;
}
.mine_nav .left dd a {
  color: #333;
  font-weight: bold;
  outline: none;
}
.mine_nav .right {
  text-align: center;
  position: absolute;
  top: 0.4375rem;
  right: 0.375rem;
  width: 1.5rem;
}
.mine_nav .right dt {
  width: 0.8125rem;
  height: 0.8125rem;
  margin: 0 auto 0.15625rem;
}
.mine_nav .right dt a img {
  width: 0.8125rem;
  height: 0.8125rem;
}
.mine_nav .right dd {
  text-align: center;
  font-size: 0.34375rem;
  color: #424644;
  width: 1.5rem;
}
.mine_nav .right dd a {
  color: #333;
  font-weight: bold;
  outline: none;
}
.mine_nav .touxiang {
  width: 2.28125rem;
  height: 4.125rem;
  margin: 1.25rem auto 0;
}
.mine_nav .touxiang dl dt {
  margin-bottom: 0.4375rem;
}
.mine_nav .touxiang dl dt a {
  outline: none;
}
.mine_nav .touxiang dl dt a img {
  width: 2.28125rem;
  height: 2.28125rem;
  border: #169bd5 solid 4px;
  border-radius: 50%;
}
.mine_nav .touxiang dl dd a {
  color: #333;
  font-weight: bold;
  display: block;
  text-align: center;
}
.mine-item {
  width: 9.5rem;
  height: 6.21875rem;
  margin: 0.125rem 0 0 0.3125rem;
  /* :nth-of-type(3),:nth-of-type(6){
    border-right: none;
  }*/
}
.mine-item a {
  display: block;
  width: 33%;
  height: 3.09375rem;
  float: left;
  text-align: center;
  padding: 0.7rem 0;
  color: #424644;
  background-color: white;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.mine-item a dt img {
  width: 0.9375rem;
  height: 0.9375rem;
}
.mine-item :nth-of-type(4),
.mine-item :nth-of-type(5),
.mine-item :nth-of-type(6) {
  border-bottom: none;
}
.item{
	width:100%;
	height:49/32rem;
  margin-bottom: 0;
  background-color:#e4e4e4;
}
.item .div{
  width:20%;
  height:36/32rem;
  margin:7/32rem 0 0;
  float: left;
  text-align: center;
  line-height: 36/32rem;
  background-color: #f2f2f2;
  border:#c8c8c8 1px solid;
  border-left:none;
}
.item .div:first-of-type{
  border-left:#c8c8c8 1px solid;
}