.contain{
	width:100%;
  height:519/32rem;
}
.contain .nongxiantaocan{
  width:100%;
  height:100%;
  background-color:#e4e4e4 ;
}
.contain .nongxiantaocan .slider img{
  width:100%;
  height:70/32rem;
}
.contain .nongxiantaocan h3{
  width:100%;
  height:24/32rem;
  line-height: 24/32rem;
  font-size:14px;
  text-align: center;
  font-weight: normal;
  margin-top: 20/32rem;
}
.contain .nongxiantaocan figure{
  width:100%;
  height:116/32rem;
  background-color: white;
  padding-right:10/32rem;
}
.contain .nongxiantaocan figure img{
  width:130/32rem;
  height:96/32rem;
  float: left;
  margin:10/32rem;
}
.contain .nongxiantaocan figure h4{
  height:56/32rem;
  line-height: 56/32rem;
  font-weight: normal;
}
.item{
	width:100%;
	height:49/32rem;
  margin-bottom: 0;
  background-color:#e4e4e4;
}
.item .div{
  width:20%;
  height:36/32rem;
  margin:7/32rem 0 0;
  float: left;
  text-align: center;
  line-height: 36/32rem;
  background-color: #f2f2f2;
  border:#c8c8c8 1px solid;
  border-left:none;
}
.item .div:first-of-type{
  border-left:#c8c8c8 1px solid;
}