
html,
body,
div,
ul,
li,
dl,
dt,
dd,
ol,
img,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
span,
a,
button,
input,
hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,input,button,textarea{
    outline: none;
}
body {
    font-size: 0.375rem;
    font-family: 微软雅黑;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    border: none;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

