.contain{
	width:100%;
  height:519/32rem;
}
.contain .slider{
  width:100%;
  height:70/32rem;
}
.contain .slider img{
  width:100%;
  height:70/32rem;
}
.contain .yumibaoxian{
  width:100%;
  height:449/32rem;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.contain .peifuliuchengtu{
  width:100%;
  height:36/32rem;
}
.contain .baofei{
  width:50%;
  float: left;
}
.contain .goumaibaoxian{
  width:124/32rem;
  height:32/32rem;
  border-radius: 3px;
  background-color: #169bd5;
  color: white;
  float: left;
  outline: none;
  border: none;
}
.item{
	width:100%;
	height:49/32rem;
  margin-bottom: 0;
  background-color:#e4e4e4;
}
.item .div{
  width:20%;
  height:36/32rem;
  margin:7/32rem 0 0;
  float: left;
  text-align: center;
  line-height: 36/32rem;
  background-color: #f2f2f2;
  border:#c8c8c8 1px solid;
  border-left:none;
}
.item .div:first-of-type{
  border-left:#c8c8c8 1px solid;
}