.contain {
  width: 100%;
  height: 16.21875rem;
}
.contain .slider {
  width: 100%;
  height: 2.1875rem;
}
.contain .slider img {
  width: 100%;
  height: 2.1875rem;
}
.contain .yumibaoxian {
  width: 100%;
  height: 14.03125rem;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.contain .peifuliuchengtu {
  width: 100%;
  height: 1.125rem;
}
.contain .baofei {
  width: 50%;
  float: left;
}
.contain .goumaibaoxian {
  width: 3.875rem;
  height: 1rem;
  border-radius: 3px;
  background-color: #169bd5;
  color: white;
  float: left;
  outline: none;
  border: none;
}
.item {
  width: 100%;
  height: 1.53125rem;
  margin-bottom: 0;
  background-color: #e4e4e4;
}
.item .div {
  width: 20%;
  height: 1.125rem;
  margin: 0.21875rem 0 0;
  float: left;
  text-align: center;
  line-height: 1.125rem;
  background-color: #f2f2f2;
  border: #c8c8c8 1px solid;
  border-left: none;
}
.item .div:first-of-type {
  border-left: #c8c8c8 1px solid;
}
